<section class='body'>
  <div class='section__title'>
    <div class='section__title-gif'>
      <img src='assets/images/body.gif'>
    </div>
    <h3 class='section__title-text'>{{doc.bodyTitle}}</h3>
  </div>
  {{#each doc.bodyIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='lockscreen__examples-body'>
    {{#each doc.body-examples}}
    <a href='{{{link}}}' target='_blank'>
        <div class='lockscreen__container'>
          <div class='lockscreen'>
            <div class='top'>
              <p class='top__title'>{{{@root.doc.lockScreenTitle}}}</p>
              <p class='top__time'>{{{@root.doc.lockScreenTime}}}</p>
            </div>
            <div class='bottom'>
              <p class='bottom__school'>{{{source}}}</p>
              <p class='bottom__text'>{{{text}}}</p>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

  {{#each doc.bodyPostExample}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='container__bodyBar'>
    <div class='container__clothes-title'>
      <h4 class='chart__title'>{{{doc.bodyBarTitle}}}</h4>
      <p class='chart__subtitle'>{{{doc.bodyBarSub}}}</p>
    </div>
    <div class='container__bars'></div>
    <!-- @@include('bodyBars.svg') -->
    <!-- <svg src='assets/images/bodyBars.svg'></svg> -->
  </figure>
<!--
  <figure class='body__multiples'>
    <h4 class='chart__title'>{{{doc.bodyPartTitle}}}</h4>
    <p class='chart__subtitle'>{{{doc.bodyPartSub}}}</p>
    <img class='body__img-bodies' src='assets/images/placeholder_bodies.png'>
    <button class='body__load'>{{{doc.bodyPartButton}}}</button>
  </figure> -->

  {{#each doc.bodyPreExplore}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='container__bodyGrid'>
    <div class='container__clothes-title'>
      <h4 class='chart__title'>{{{doc.bodyGridTitle}}}</h4>
    </div>
    <div class='container__menus'>
      <div class='filters'>
        <p class='chart__subtitle'>Filter by</p>
        <select class='select__state' data-dropdown='state'></select>
        <select class='select__size' data-dropdown='size'></select>
        <select class='select__locale' data-dropdown='locale'></select>
      </div>
      <div class='buttons'>
        <p class='chart__subtitle'>Highlight schools that ban:</p>
        <button class='ui__button' data-button='back'>back</button>
        <button class='ui__button' data-button='buttocks'>buttocks</button>
        <button class='ui__button' data-button='chest'>chest</button>
        <button class='ui__button' data-button='cleavage'>cleavage</button>
        <button class='ui__button' data-button='midriff'>midriff</button>
        <button class='ui__button' data-button='torso'>torso</button>
      </div>
    </div>
    <div class='ui-warning'>
      <p class='ui-warning-text tk-atlas'>{{doc.ui-warning}}</p>
    </div>
    <div class='container__figure'>
      <div class='container__grid is-truncated'>
      </div>
      <div class='show-more is-visible'></div>
      <div class='tooltip'>
        <div class='top'>
          <p class='school__name'></p>
          <p class='school__state'></p>
        </div>
        <p class='school__size'></p>
      </div>
    </div>
    <div class='toggle-table'><button class='btn'>Show All</button></div>
  </figure>
  <div class='graphic__notes'>
    <p class='graphic__notes-text'>{{{doc.bodyGridNote}}}</p>
  </div>

  {{#each doc.bodyOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
