<section class='body'>
  <h3 class='section__title'>{{doc.bodyTitle}}</h3>
  {{#each doc.bodyIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='lockscreen__examples-body'>
    {{#each doc.body-examples}}
      <div class='lockscreen__container'>
        <div class='lockscreen'>
          <div class='top'>
            <p class='top__title'>{{{@root.doc.lockScreenTitle}}}</p>
            <p class='top__time'>{{{@root.doc.lockScreenTime}}}</p>
          </div>
          <div class='bottom'>
            <p class='bottom__school'>{{{source}}}</p>
            <p class='bottom__text'>{{{text}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{#each doc.bodyPostExample}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='container__bodyBar'>
    <div class='container__clothes-title'>
      <h4 class='chart__title'>{{{doc.bodyBarTitle}}}</h4>
      <p class='chart__subtitle'>{{{doc.bodyBarSub}}}</p>
    </div>
    <div class='container__bars'></div>
    <!-- @@include('bodyBars.svg') -->
    <!-- <svg src='assets/images/bodyBars.svg'></svg> -->
  </figure>
<!--
  <figure class='body__multiples'>
    <h4 class='chart__title'>{{{doc.bodyPartTitle}}}</h4>
    <p class='chart__subtitle'>{{{doc.bodyPartSub}}}</p>
    <img class='body__img-bodies' src='assets/images/placeholder_bodies.png'>
    <button class='body__load'>{{{doc.bodyPartButton}}}</button>
  </figure> -->

  {{#each doc.bodyOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='container__bodyGrid'>
    <div class='container__clothes-title'>
      <h4 class='chart__title'>{{{doc.bodyBarTitle}}}</h4>
    </div>
    <div class='container__menus'>
      <div class='filters'>
        <p class='chart__subtitle'>Filter by</p>
        <select class='select__state'></select>
        <select class='select__size'></select>
        <select class='select__locale'></select>
      </div>
      <div class='buttons'>
        <p class='chart__subtitle'>Highlight schools that ban:</p>
      </div>
    </div>
    <div class='container__grid'></div>
  </figure>
</section>
