<section class='body'>
  <h3 class='section__title'>{{doc.bodyTitle}}</h3>
  {{#each doc.bodyIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='body__example'>
    <img class='body__img-animation' src='assets/images/placeholder_animation.png'>
    <div class='lockscreen'>
      <div class='top'>
        <p class='top__title'>{{{doc.lockScreenTitle}}}</p>
        <p class='top__time'>{{{doc.lockScreenTime}}}</p>
      </div>
      <div class='bottom'>
        <p class='bottom__school'>{{{doc.bodyExampleSource}}}</p>
        <p class='bottom__text'>{{{doc.bodyExample}}}</p>
      </div>
    </div>
  </div>

  <p class='prose'>{{{doc.bodyPostExample}}}</p>

  <div class='body__multiples'>
    <h4 class='chart__title'>{{{doc.bodyPartTitle}}}</h4>
    <p class='chart__subtitle'>{{{doc.bodyPartSub}}}</p>
    <img class='body__img-bodies' src='assets/images/placeholder_bodies.png'>
    <button class='body__load'>{{{doc.bodyPartButton}}}</button>
  </div>

  <p class='prose'>{{{doc.bodyPostMultiple}}}</p>

  <figure class='container__bodyBar'>
    <div class='container__clothes-title'>
      <h4 class='chart__title'>{{{doc.bodyBarTitle}}}</h4>
      <p class='chart__subtitle'>{{{doc.bodyBarSub}}}</p>
    </div>
    <div class='container__bars'></div>
    <!-- @@include('bodyBars.svg') -->
    <!-- <svg src='assets/images/bodyBars.svg'></svg> -->
  </figure>

  {{#each doc.bodyOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
