<section class='body'>
  <h3 class='title__section'>{{doc.bodyTitle}}</h3>
  {{#each doc.bodyIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
  <img class='body__img-bodies' src='assets/images/placeholder_bodies.png'>

  {{#each doc.bodyMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='container__bodyBar'>
    <div class='container__clothes-title'>
      <h4 class='graphic__hed'>{{{doc.bodyBarTitle}}}</h4>
      <p class='graphic__sub'>{{{doc.bodyBarSub}}}</p>
    </div>
    <svg></svg>
  </figure>
  {{#each doc.bodyOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
