<section class='clothes'>
  <h3 class='title__section'>{{doc.clothesTitle}}</h3>
  {{#each doc.clothesIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='lockscreen__examples-clothes'>
    {{#each doc.clothes-examples}}
      <div class='lockscreen__container'>
        <div class='lockscreen'>
          <div class='top'>
            <p class='top__title'>{{{@root.doc.lockScreenTitle}}}</p>
            <p class='top__time'>{{{@root.doc.lockScreenTime}}}</p>
          </div>
          <div class='bottom'>
            <p class='bottom__school'>{{{source}}}</p>
            <p class='bottom__text'>{{{text}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{#each doc.clothesMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='scroll'>

    <figure class='container__clothes'>
      <div class='container__clothes-title'>
        <h4 class='chart__title'>{{{doc.clothesGraphTitle}}}</h4>
        <p class='chart__subtitle-fullWidth'>{{{doc.clothesGraphLegend}}}</p>
      </div>
    </figure>

    <div class='scroll-text'>
      {{#each doc.clothesSteps}}
        <div class='step' data-step='{{{step}}}' id='step-{{{step}}}'>
          <p class='step-prose'>{{{text}}}</p>
        </div>
      {{/each}}
    </div>

  </div>

  <div class='graphic__notes'>
    <p class='graphic__notes-text'>{{{doc.clothingNotesText}}}</p>
  </div>

  <img class='clothes__img-items' src='assets/images/placeholder_clothes.png'>
  {{#each doc.clothesOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
