<section class='clothes'>
  <div class='section__title'>
    <div class='section__title-gif'>
      <img src='assets/images/clothes.gif'>
    </div>
    <h3 class='section__title-text'>{{doc.clothesTitle}}</h3>
  </div>
  {{#each doc.clothesIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='lockscreen__examples-clothes'>
    {{#each doc.clothes-examples}}
      <a href='{{{link}}}' target='_blank'>
        <div class='lockscreen__container'>
          <div class='lockscreen'>
            <div class='top'>
              <p class='top__title'>{{{@root.doc.lockScreenTitle}}}</p>
              <p class='top__time'>{{{@root.doc.lockScreenTime}}}</p>
            </div>
            <div class='bottom'>
              <p class='bottom__school'>{{{source}}}</p>
              <p class='bottom__text'>{{{text}}}</p>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

  {{#each doc.clothesMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='graphic__notes'>
    <p class='graphic__notes-text'>{{{doc.clothesMidNote}}}</p>
  </div>

  {{#each doc.clothesMidPostNote}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='scroll'>

    <figure class='container__clothes'>
      <div class='container__clothes-title'>
        <h4 class='chart__title'>{{{doc.clothesGraphTitle}}}</h4>
        <p class='chart__subtitle-fullWidth'>{{{doc.clothesGraphLegend}}}</p>
      </div>
    </figure>

    <div class='scroll-text'>
      {{#each doc.clothesSteps}}
        <div class='step' data-step='{{{step}}}' id='step-{{{step}}}'>
          <p class='step-prose'>{{{text}}}</p>
        </div>
      {{/each}}
    </div>

  </div>

  <div class='graphic__notes'>
    <p class='graphic__notes-text'>{{{doc.clothingNotesText}}}</p>
  </div>

  {{#each doc.clothesOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
