<section class='create'>
  <h2 class='section__title tk-canela'>{{doc.createTitle}}</h2>
  <p class='prose tk-atlas'>{{{doc.createIntro1}}}</p>
  <div class='create__example-outer'>
    <div class='create__example-inner'>
      <p>{{{doc.createExample}}}</p>
    </div>
  </div>
  <p class='prose tk-atlas'>{{{doc.createIntro2}}}
  <p class='prose__instructions tk-atlas'>{{doc.createInstructions}}</p>

  {{> story/createGrid }}

  <div class='create__button'>
    <button id='createFinish' type ='button'>{{doc.createFinish}}</button>
  </div>
<!--
  <div class='create__results'>
    <p class='result-pre tk-atlas'>{{{doc.resultProse}}}</p>
    <div class='create__results-overall'>
      <div class='create__results-gender result-group'>
        <p class='result result-gender tk-canela'>0%</p>
        <p class='result-prose tk-atlas'>{{{doc.resultGenderProse}}}</p>
      </div>
      <div class='create__results-race result-group'>
        <p class='result result-race tk-canela'>0%</p>
        <p class='result-prose tk-atlas'>{{{doc.resultRaceProse}}}</p>
      </div>
    </div>
  </div>

  <div class='create__button'>
    <button id='createCalc' type ='button'>{{doc.createCalc}}</button>
  </div> -->

  <p class='prose tk-atlas'>{{{doc.postCreate}}}</p>

  <div class='create__prohibited create__prohibited-gender'>
      {{> story/createGrid }}
  </div>

  {{#each doc.resultProseGen}}
    <p class='prose create__results tk-atlas'>{{{value}}}</p>
  {{/each}}

<figure class='container__histogram'>
  <h3 class='chart-title tk-atlas'>{{{doc.genHisTitle}}}</h3>
  <h5 class='chart-subtitle tk-atlas'>{{{doc.genHisSubTitle}}}</h5> 
    <div class='container__gender'>
      <div class='container container__create container__create-f' data-group='f'>
           <h4 class='chart-title tk-atlas'>{{{doc.femTitle}}}</h4>
          <!--<h5 class='chart-subtitle tk-atlas'>{{{doc.femSubTitle}}}</h5> -->
          <!-- <div class='legend'>
            <div class='block'></div>
            <span class='legend-text tk-atlas'>{{{doc.blockLegend}}}</span>
          </div> -->
        </div>

        <div class='container__create-axis'>
        </div>

        <div class='container container__create container__create-m' data-group='m'>
         <h4 class='chart-title tk-atlas'>{{{doc.masTitle}}}</h4>
        <!--<h5 class='chart-subtitle tk-atlas'>{{{doc.femSubTitle}}}</h5> -->
        <!-- <div class='legend'>
          <div class='block'></div>
          <span class='legend-text tk-atlas'>{{{doc.blockLegend}}}</span>
        </div> -->
      </div>
    </div>
</figure>
  <!-- <div class='create__gender'>
    <div class='container container__create' data-group='f'></div>
    <div class='container container__create' data-group='m'></div>
  </div> -->

  <p class='prose tk-atlas'>{{{doc.preRace}}}</p>

  <div class='container container__create' data-group='r'>
    <h4 class='chart-title tk-atlas'>{{{doc.raceTitle}}}</h4>
    <h5 class='chart-subtitle tk-atlas'>{{{doc.raceSubTitle}}}</h5>
    <div class='legend'>
      <div class='block'></div>
      <span class='legend-text tk-atlas'>{{{doc.blockLegend}}}</span>
    </div>
  </div>
</section>
