<section class='explicit'>
  <h2 class='section__title tk-canela'>{{doc.explicitTitle}}</h2>

  <p class='prose tk-atlas'>{{{doc.explicit-1}}}</p>
  <div class='explicit-1'></div>

  <p class='prose tk-atlas'>{{{doc.explicit-2}}}</p>
  <div class='explicit__example-outer'>
    <div class='explicit__example-inner'>
      <p>{{{doc.explicit-example}}}</p>
    </div>
  </div>

  <p class='prose tk-atlas'>{{{doc.explicit-3}}}</p>
  <div class='explicit__common'>
    <div class='female'>
      <h4>Female Students</h4>
      <div class='grid'>
        {{> story/explicitBans }}
      </div>
    </div>
    <div class='male'>
      <h4>Male Students</h4>
      <div class='grid'>
        {{> story/explicitBans }}
      </div>
    </div>
  </div>


  <p class='prose tk-atlas'>{{{doc.explicit-4}}}</p>
</section>
