<section class='intro'>
	<p class='prose preamble'>{{{doc.preamble}}}</p>

	<p class='prose'>{{{doc.introQuestion}}}</p>

	<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Ladies, when was the first time you were made to feel embarrassed and sexualized for what you wore? I was in 5th grade, shorts too short.</p>&mdash; Dana Schwartz (@DanaSchwartzzz) <a href="https://twitter.com/DanaSchwartzzz/status/846065368997212161?ref_src=twsrc%5Etfw">March 26, 2017</a></blockquote>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


	{{#each doc.introMemory}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<div class='lockscreen'>
		<div class='top'>
			<p class='top__title'>{{{doc.lockScreenTitle}}}</p>
			<p class='top__time'>{{{doc.lockScreenTime}}}</p>
		</div>
		<div class='bottom'>
			<p class='bottom__school'>{{{doc.convo1ReceivedName}}}</p>
			<p class='bottom__text'>{{{doc.convo1ReceivedText}}}</p>
		</div>
	</div>

		{{#each doc.introMessage}}
			<p class='prose'>{{{value}}}</p>
		{{/each}}

		<!-- <div class='intro__conversation'>
			<p class='convo__timestamp'>{{{doc.convo2Time}}}</p>

			<div class='convo__received'>
				<p class='convo__sender'>{{{doc.convo2ReceivedName}}}</p>
				<p class='convo__text-wrapper'><span class='convo__text convo__text-received'>{{{doc.convo2ReceivedText1}}}</span></p>
				<p class='convo__text-wrapper'><span class='convo__text convo__text-received'>{{{doc.convo2ReceivedText2}}}</span></p>
			</div>

			<div class='convo__sent'>
				<p class='convo__sender'>{{{doc.convo2SentName}}}</p>
				<p class='convo__text convo__text-sent'>{{{doc.convo2SentText}}}</p>
			</div>

		</div>

		{{#each doc.introLede}}
			<p class='prose'>{{{value}}}</p>
		{{/each}} -->

</section>
