<section class='methods' id='methods'>
  <h3>{{{doc.methodsTitle}}}</h3>
  {{#each doc.methods}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <h3>{{{doc.moreTitle}}}</h3>
  {{#each doc.more}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='more'>
    {{#each doc.more-list}}
      <div class='more__source'>
        <p class='more__title'><a href="{{{link}}}" target="_blank">{{{title}}}</a></p>
        <p class='more__attr'>{{{author}}} &bull; <span class='more__year'>{{{year}}}</span></p>
        <p class='more__desc'>{{{text}}}</p>
      </div>
    {{/each}}
  </div>
</section>
