<section class='title'>
  <div class="title__hed">
    <h2 class='title__hed-part'>{{doc.partNumber}}</h2>
    <h1 class='title__hed-text title__hed-small small-1'>{{{doc.title1}}}</h1>
    <h1 class='title__hed-text title__hed-large'>{{doc.title2}}</h1>
    <h1 class='title__hed-text title__hed-small small-2'>{{doc.title3}}</h1>
  </div>

  <div class='title__info'>
    <div class='title__img'></div>
    <div class='title__text'>
      <div class='top'>
        <p class='title__byline'>{{{doc.author}}}</p>
        <p class='title__date'>{{doc.date}}</p>
      </div>
      <div class='bottom'>
        <p class='title__assistance'>{{{doc.assistance}}}</p>
      </div>
    </div>
  </div>

</section>
