<section class='words'>
  <h3 class='title__section'>{{doc.wordsTitle}}</h3>
  {{#each doc.wordsIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  {{> story/wordExamples }}

  {{#each doc.wordsMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='words__explore'>
    <h4 class='chart__title'>{{{doc.wordsGraphTitle}}}</h4>
    <p class='chart__subtitle'>{{{doc.wordsGraphSub}}}</p>
    <div class='chart__container'>
      <div class='chart__container-words'>
      </div>
      <div class='simplebar__container' data-simplebar data-simplebar-auto-hide="false">
        <div class='chart__container-examples'>
        </div>
      </div>
    </div>
  </figure>

  {{#each doc.wordsPostExplore}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='lockscreen__examples-subjective'>
    {{#each doc.subj-examples}}
      <div class='lockscreen__container'>
        <div class='lockscreen'>
          <div class='top'>
            <p class='top__title'>{{{@root.doc.lockScreenTitle}}}</p>
            <p class='top__time'>{{{@root.doc.lockScreenTime}}}</p>
          </div>
          <div class='bottom'>
            <p class='bottom__school'>{{{source}}}</p>
            <p class='bottom__text'>{{{text}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{#each doc.wordsOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

</section>
