<section class='words'>
  <div class='section__title'>
    <div class='section__title-gif'>
      <img src='assets/images/words.gif'>
    </div>
    <h3 class='section__title-text'>{{doc.wordsTitle}}</h3>
  </div>
  {{#each doc.wordsIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  {{> story/wordExamples }}

  {{#each doc.wordsMid}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='words__explore'>
    <h4 class='chart__title'>{{{doc.wordsGraphTitle}}}</h4>
    <p class='chart__subtitle'>{{{doc.wordsGraphSub}}}</p>
    <div class='chart__container'>
      <div class='chart__container-desktop'>
        <div class='chart__container-words'>
        </div>
        <div class='simplebar__container' data-simplebar data-simplebar-auto-hide="false">
          <div class='chart__container-examples'>
          </div>
        </div>
      </div>

      <div class='chart__container-mobile'>
      </div>
    </div>
  </figure>

  {{#each doc.wordsPostExplore}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='lockscreen__examples-subjective'>
    {{#each doc.subj-examples}}
      <a href='{{{link}}}' target='_blank'>
        <div class='lockscreen__container'>
          <div class='lockscreen'>
            <div class='top'>
              <p class='top__title'>{{{@root.doc.lockScreenTitle}}}</p>
              <p class='top__time'>{{{@root.doc.lockScreenTime}}}</p>
            </div>
            <div class='bottom'>
              <p class='bottom__school'>{{{source}}}</p>
              <p class='bottom__text'>{{{text}}}</p>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

  {{#each doc.wordsOutro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

</section>
